#main {
    float: left;
    width: 100%;
    font-family: courier;
}

#editor {
    float: left;
    width: 50%;
    text-align: center;
}

#score {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    text-align: center;
}

#cursor {
  /*letter-spacing: -2px;*/
  z-index: 999;
}

#last-letter {

}
